body{
  font-family:"Open Sans";
}
.back-main{
  background-image: url("http://www.abc.net.au/radionational/image/7754594-3x2-700x467.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  opacity:0.5;
  height:450px;
}
.main{
  position:relative;
  bottom:300px; 
}
h1{
  font-family:"montserrat";
  text-align:center;
  font-size:3rem;
  margin-bottom:10px;
  font-weight:500;
}
h2{
  font-family:"Open Sans";
  text-align:center;
  font-size:1.3rem;
}
h3{
  font-family:"montserrat";
  margin-bottom:10px;
  font-weight:500;
  font-size:1.5rem;
}
a{
  text-decoration: none;
  color:rgb(0, 110, 255);
}
.main-cont{
  display:flex;
  bottom:110px;
  left:50px;
  position: relative;
  width: calc(100% - 50px);
}
.nav{
  background-color: rgb(0, 110, 255);
  height:400px;
  width: 300px;
  position:relative;
  flex-shrink: 0;
}
.nav ul{
  margin-left:10px;
  padding-top:20px;

} 
#navu li{
  margin-top:40px;
  color:white;
  transition: color 0.2s;
}
#navu li:hover{
  color: rgba(255, 255, 255, 0.65);
  transition: color 0.2s;
  cursor: pointer;
}
.Content{
  text-align: center;
  position:relative;
  top:50px;
  margin: 0 10px;
  max-width: 65%;
}
#Agriculture{
  position:absolute;
  visibility:hidden;
}
#Cleaning{
  visibility: hidden;
  position: absolute;
}
#Prevention{
  visibility: hidden;
  position:absolute;
}
#Sources{
  visibility:hidden;
  position:absolute;
}
